@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "TT-medium";
    font-weight: 500;
    src: url("/static/fonts/TT Commons Medium.otf");
  }
  @font-face {
    font-family: "TT-regular";
    font-weight: 400;
    src: url("/static/fonts/TT Commons Regular.otf");
  }
  @font-face {
    font-family: "TT-light";
    font-weight: 300;
    src: url("/static/fonts/TT Commons Light.otf");
  }
}

@layer components {
  * {
    @apply font-tt-regular;
  }
  .btn {
    @apply mr-5 px-5 text-sm leading-[16.73px] font-medium text-[#F0F0F0] uppercase font-tt-medium;
  }
  .btn-active {
    @apply mr-5 py-2.5 px-5 bg-[#00D8BE] rounded-lg text-sm leading-[16.73px] text-[#1A1C2A] uppercase font-tt-medium;
  }
  .form-signup {
    @apply px-[52px] py-[60px] w-[573px] h-[645px] bg-[#1a1c2a] border border-solid border-[#2B2E3E]  rounded-[12px];
  }
  .form-login {
    @apply px-[52px] py-[60px] w-[573px] h-[573px] bg-[#1a1c2a] border border-solid border-[#2B2E3E]  rounded-[12px];
  }
  .form-confirm {
    @apply px-[52px] py-[60px] w-[573px] h-[490px] bg-[#1a1c2a] border border-solid border-[#2B2E3E]  rounded-[12px];
  }
  .form-confirm-btn {
    @apply bg-[#00D8BE] rounded-lg  text-[16px] leading-[20px] font-tt-medium w-full py-[10.5px] text-[#141422] hover:bg-opacity-80 disabled:bg-opacity-60 cursor-pointer;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #8f8f9f;
  -webkit-text-fill-color: #f0f0f0;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

#chakra-modal-mymodal {
  width: 320px;
  position: fixed;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #2b2e3e;
  padding: 0 41px;
  margin: 0;
  transform: translateX(0%) translateY(0px) translateZ(0px);
}
